{% extends 'layoutTable.twig' %}
{% block add %} #! {% endblock %}


{% block table %}
    <table class="table table-hover" id="main-table-plantillas" data-ruta="DocumentosDiversos">
        <thead>
        <th class="hidden">id</th>
        <th>Folio</th>
        <th>Sub Folio</th>
        <th>Documento</th>
        <th>Remitente</th>
        <th>Turnado</th>
        <th>Fecha Recepcio</th>
        <th>Ext.</th>
        <th>Tipo</th>
        <th>Estado</th>

        </thead>
        {% for volante in volantes %}
            <tr data-ruta="DocumentosDiversos">

                <td class="hidden">{{ volante.idVolante }}</td>
                <td>{{ volante.folio }}</td>
                <td>{{ volante.subfolio }}</td>
                <td>{{ volante.numDocumento }}</td>
                <td>{{ volante.idRemitente }}</td>
                <td>{{ volante.idTurnado }}</td>
                <td>{{ volante.fRecepcion }}</td>
                <td>{{ volante.extemporaneo }}</td>
                <td>{{ volante.nombre }}</td>
                {% if volante.estadoProceso == 'CERRADO' %}
                    <td class="cerrado">{{ volante.estadoProceso }}</td>
                {% else %}
                    <td>{{ volante.estadoProceso }}</td>
                {% endif %}


            </tr>
        {% endfor %}
    </table>
{% endblock %}