
{% extends 'layoutForm.twig' %}
{% block title %}Generar Cedula{% endblock %}

{% block btnHeader %}
    <a id="addRegister" href="/SIA/juridico/public/OficioGenerico.php/?param={{ idVolante }}" target="_blank" class="btn btn-warning btn-add" role="button">
        Imprimir Cedula
    </a>

{% endblock %}
{% block form %}

    {% if err %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>AVISO!</strong> {{ err }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

        <form class="form" method="post" action="/SIA//juridico/DocumentosDiversos/update" data-ruta="DocumentosDiversos">
            <div class="form-group numFolio row" >
                <label for="numFolio" class="col-lg-2">Numero de Folio</label>
                <input type="text" class="col-lg-2" name="numFolio" placeholder="Numero de Folio" id="numFolio" value="{{ plantillas[0].numFolio }}" />
            </div>
            <div class="form-group asunto row">
                <label for="asunto" class="col-lg-2">Asunto</label>
                <input type="text" class="col-lg-6" name="asunto" placeholder="Asunto" id="asunto" value="{{ plantillas[0].asunto }}">
            </div>
            <div class="form-group fOficio row">
                <label for="fOficio" class="col-lg-2">Fecha Documento</label>
                <input type="text" class="col-lg-2 fechaInput" name="fOficio" placeholder="Fecha Oficio" id="fOficio" value="{{ plantillas[0].fOficio }}">
            </div>
            <div class="form-group siglas row">
                <label for="siglas" class="col-lg-2">Siglas</label>
                <input type="text" class="col-lg-2" name="siglas" placeholder="siglas" id="siglas" value="{{ plantillas[0].siglas }}">
                <input type="hidden" name="idRemitente" value="{{ plantillas[0].idRemitente }}">
                <input type="hidden" name="idPlantillaJuridico" value="{{ plantillas[0].idPlantillaJuridico }}">
                <input type="hidden" name="internos" id="internos" value="{{ internos }}">
                <input type="hidden" name="externos" id="externos" value="{{ externos }}">
            </div>
            <div class="form-group row">
                <label for="siglas" class="col-lg-2">Copia Internos</label>
                <button class="btn btn-info col-lg-2" id="modalInternos">Añadir</button>
            </div>
            <div class="form-group row">
                <label for="siglas" class="col-lg-2">Copia Externos</label>
                <button class="btn btn-info col-lg-2" id="modalExternos">Añadir</button>
            </div>
            <div class="form-group texto">
                <label for="numFolio">Texto</label>
                <textarea name="texto" id="ckeditor" placeholder="Texto">{{ plantillas[0].texto }}</textarea>

            </div>
            <div class="form-group send">
                {% if close %}
                    <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
                {% endif %}
                <button class="btn btn-danger btn-sm" id="cancelar">Cancelar</button>
            </div>
        </form>




{% endblock %}














