
{% extends 'layoutTable.twig' %}



{% block btnHeader %}
    <a id="addRegister" href="/SIA/juridico/public/tcpdf/examples/ifa.php/?param1={{ idVolante }}" target="_blank" class="btn btn-warning btn-add" role="button">
        Imprimir Cedula
    </a>
    <a id="addRegister" href="/SIA/juridico/CedulaIfa/add/{{ idVolante }}" class="btn btn-warning btn-add" role="button">
        Generar Cedula
    </a>
    <a id="addRegister" href="/SIA/juridico/observacionesIfa/add/{{ idVolante }}" class="btn btn-info btn-add" role="button">
        Añadir Registro
    </a>
{% endblock %}

{% block table %}
                <table class="table table-hover" id="main-table-observaciones-ifa" data-ruta="Ifa">
                    <thead>
                    <tr>
                        <th class="hidden">id</th>
                        <th>Pagina</th>
                        <th>Parrafo</th>
                        <th>Observacion</th>
                        <th>Estatus</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for observacion in observaciones %}
                        <tr>
                            <td class="hidden">{{ observacion.idObservacionDoctoJuridico }}</td>
                            <td>{{ observacion.pagina }}</td>
                            <td>{{ observacion.parrafo }}</td>
                            <td>{{ observacion.observacion }}</td>
                            <td>{{ observacion.estatus }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
{% endblock %}






