{% extends 'layoutForm.twig' %}
{% block title %}Actualizar Registro{% endblock %}
{% block form %}

    <form class="form" id="ObservacionesDoctosJuridico" method="POST" action="/SIA/juridico/observacionesIrac/update" data-ruta="Irac">
        <div class="datos">
            <div class="form-group pagina row">
                <label for="text" class="col-lg-2">Hoja</label>
                <input class="form-control col-lg-2"  id="pagina" type="text" name="pagina" required="" value="{{ observacion.pagina }}"/>
                <input id="idVolante" type="hidden" name="idVolante" value="{{ observacion.idVolante }}" />
                <input id="cveAuditoria" type="hidden" name="cveAuditoria" value="{{ observacion.cveAuditoria }}" />
                <input id="idSubTipoDocumento" type="hidden" name="idSubTipoDocumento" value="{{ observacion.idSubTipoDocumento }}" />
            </div>
            <div class="form-group parrafo row">
                <label for="parrafo" class="col-lg-2">Parrafo</label>
                <input class="form-control col-lg-2" id="parrafo" type="text" name="parrafo" required="" value="{{ observacion.parrafo }}"/>
            </div>
        </div>
        <div class="form-group observacion row">
            <label for="observacion" class="col-lg-2">Observacion</label>
            <textarea class="form-control col-lg-2" id="ckeditor" rows="3" name="observacion">{{ observacion.observacion }}</textarea>

        </div>
        <div class="form-group estatus row">
            <label class="form-control-label col-lg-2" for="estatus">Estatus</label>

            <select name="estatus" id="estatus" class="form-control col-lg-2">
                {% if observacion.estatus=='ACTIVO' %}
                    <option value="ACTIVO" selected>ACTIVO</option>
                    <option value="INACTIVO" >INACTIVO</option>
                {% else %}
                    <option value="ACTIVO" >ACTIVO</option>
                    <option value="INACTIVO" selected>INACTIVO</option>
                {% endif %}
            </select>
            <input type="hidden" name="idObservacionDoctoJuridico" value="{{ observacion.idObservacionDoctoJuridico }}" />
        </div>
        <div class="envio">
            <div class="form-group send">
                <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
                <button class="btn btn-danger" id="cancelar">Cancelar</button>
            </div>
        </div>
    </form>
    {% if err %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> {{ err }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}