{% extends 'layoutTable.twig' %}
{% block add %}  {% endblock %}
{% block btnHeader %}
    <a id="addRegister" href="/SIA/juridico/DocumentosGral/update" class="btn btn-info btn-add" role="button">
        Asignar Documento
    </a>
{% endblock %}

{% block table %}
    <table class="table table-hover" id="main-table-files" data-ruta="DocumentosGral">
        <tr>
            <th class="hidden">id</th>
            <th scope="col">Folio</th>
            <th scope="col">Sub Folio</th>
            <th scope="col">Documento</th>
            <th scope="col">Tipo</th>
            <th scope="col">Remitente</th>
            <th scope="col">Archivo</th>
            <th scope="col">Estado</th>

        </tr>
        {% for documento in documentos %}
            <tr>

                <td class="hidden">{{ documento.idVolante }}</td>
                <td>{{ documento.folio }}</td>
                <td>{{ documento.subFolio }}</td>
                <td>{{ documento.numDocumento }}</td>
                <td>{{ documento.nombre }}</td>
                <td>{{ documento.idRemitente }}</td>
                {% if documento.anexoDoc | length < 1 %}
                    <td class="sa">Sin Asignar</td>
                {% else %}
                    <td>{{ documento.anexoDoc }}</td>
                {% endif %}

                <td>{{ documento.estadoProceso }}</td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}