{% extends 'layoutTable.twig' %}
{% block btnHeader %}
    <a id="addRegister" href="/SIA/juridico/VolantesDiversos/add" class="btn btn-info btn-add" role="button">
        Añadir Registro
    </a>
{% endblock %}

{% block table %}
    <table class="table table-hover"  id="main-table" data-ruta="VolantesDiversos">
        <tr>
            <th class="hidden">id</th>
            <th>Folio</th>
            <th>Sub Folio</th>
            <th>Documento</th>
            <th>Remitente</th>
            <th>Turnado</th>
            <th>Fecha Recepcio</th>
            <th>Ext.</th>
            <th>Oficio</th>
            <th>Estado</th>
            <th>Estatus</th>
        </tr>
        {% for volante in volantes %}
            <tr data-ruta="VolantesDiversos">

                <td class="hidden">{{ volante.idVolante }}</td>
                <td>{{ volante.folio }}</td>
                <td>{{ volante.subfolio }}</td>
                <td>{{ volante.numDocumento }}</td>
                <td>{{ volante.idRemitente }}</td>
                <td>{{ volante.idTurnado }}</td>
                <td>{{ volante.fRecepcion }}</td>
                <td>{{ volante.extemporaneo }}</td>
                <td>{{ volante.nombre }}</td>
                <td>{{ volante.estadoProceso }}</td>
                <td>{{ volante.estatus }}</td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}