{% extends 'layoutTable.twig' %}
{% block btnHeader %}

    <a id="addRegister" href="/SIA/juridico/VolantesDiversos/add" class="btn btn-info btn-add" role="button">
        Añadir Registro
    </a>
{% endblock %}

{% block order %}
    <div class="order">
           <button class="btn btn-warning" id="btn-order">Ordernar Registros</button>
        <form action="/SIA/juridico/VolantesDiversos" class="form-order form-inline" id="form-order">

            <select name="campo" id="campo" required class="form-control">
                <option value="">Campo</option>
                <option value="folio">Folio</option>
                <option value="numDocumento">Documento</option>
                <option value="idRemitente">Remitente</option>
                <option value="idTurnado">Turnado</option>
                <option value="fRecepcion">Fecha</option>
                <option value="extemporaneo">Extemporaneo</option>
                <option value="estadoProceso">Estado</option>
            </select>
            <select name="tipo" id="tipo" required class="form-control">
                <option value="">Tipo</option>
                <option value="asc">Ascendente</option>
                <option value="desc">Descendente</option>
            </select>
            <input type="submit" value="Ordenar" class="btn btn-info">
        </form>
    </div>
{% endblock %}



{% block table %}

    <table class="table table-hover"  id="main-table" data-ruta="VolantesDiversos">
        <thead >
        <tr>
            <th class="hidden">id</th>
            <th>Folio</th>
            <th>Documento</th>
            <th>Remitente</th>
            <th>Turnado</th>
            <th>Fecha</th>
            <th>Ext.</th>
            <th>Estado</th>


        </tr>
        </thead>
        <tbody>
        {% for volante in volantes %}
            <tr data-ruta="VolantesDiversos">

                <td class="hidden">{{ volante.idVolante }}</td>
                <td>{{ volante.folio }} - {{ volante.subfolio }}</td>
                <td>{{ volante.numDocumento }}</td>
                <td>{{ volante.idRemitente }}</td>
                <td>{{ volante.idTurnado }}</td>
                <td>{{ volante.fRecepcion }}</td>
                <td>{{ volante.extemporaneo }}</td>
                {% if volante.estadoProceso == 'CERRADO' %}
                    <td class="cerrado">{{ volante.estadoProceso }}</td>
                {% else %}
                    <td>{{ volante.estadoProceso }}</td>
                {% endif %}


            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}